.map-container {
  border: 1px dotted lightgrey;
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: #fcfcfc;
}
.map-info {
  border: 1px dotted lightgrey;
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: #fcfcfc;
}

.map-svg {
  width: 100%;
  overflow: hidden;
}

path {
  stroke-linejoin: round;
  stroke-linecap: round;
}

.state {
  fill: none;
  stroke: none;
}
.state:hover {
  fill-opacity: 0.9;
  stroke: #fff;
  stroke-width: 1.5px;
}

.tooltip {
  line-height: 1;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #e2e3e3;
  text-align: center;

  pointer-events: none;
  position: absolute;
  border-radius: 8px;
  font-weight: bold;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.tooltip-info {
  font-size: 3.5rem;
}

.legend line {
  stroke: white;
}
