.info-table {
  margin: auto;
}

.state-name {
  color: #325a89;
  font-weight: 400;
  font-size: 2.5rem;
}

.tabble-value {
  color: #325a89;
  font-weight: 400;
  font-size: 1.4rem;
}

.table-year-value {
  padding-right: 20px;
  font-size: 20px;
  line-height: 150%;
  font-weight: 300;
  color: #4d4d4d;
}

.red-text {
  color: firebrick;
}

@media screen and (max-height: 760px) {
  h1 {
    font-size: 2rem;
  }
}

@media screen and (max-height: 480px) {
  h1 {
    font-size: 1rem;
  }
}
